@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kwasimir";
  src: url("/fonts/Kazimir-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "HurgeGeometric";
  src: url("/fonts/HurmeGeometricSans3-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

body {
  font-family: HurgeGeometric, sans-serif;
  color: #d3d8e8;
  background-color: #f7f7f8;
  border: 24px solid #1e133e;
  color: #3b4b5f;
  background-image: url("/images/bg-grid-lighter.svg");
  background-position: center -10px;
  background-repeat: no-repeat;
  font-size: 19px;
  overflow-x: hidden;
}

.fontF-heading {
  font-family: Kwasimir, sans-serif;
}

.container {
  padding: 0 8px;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: rgb(255 255 255 / 1);
}

.swiper_container_testimonials > .swiper-wrapper {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.swiper_container_testimonials {
  padding: 20px !important;
  position: relative;
}

.swiper_container_testimonials .swiper-slide-next,
.swiper_container_testimonials .swiper-slide-prev {
  opacity: 0.6 !important;
  position: relative !important;
}

.swiper_container_testimonials .swiper-slide-next {
  position: relative !important;
  right: 20px !important;
}

.swiper_container_testimonials .swiper-slide-next::after,
.swiper_container_testimonials .swiper-slide-prev::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #0000002a;
  backdrop-filter: blur(1px);
}

@media only screen and (max-width: 768px) {
  .swiper-slide-active > div {
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.training-top-section {
  max-width: calc(100% - 400px);
}

@keyframes textFaderIn {
  from {
    opacity: 0;
    transform: translateY(25%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textFaderOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-25%);
  }
}

.text-fader {
  display: inline-block;
}

.text-content span.line {
  opacity: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: 0.8s;
  display: none;
}

.text-content {
  height: 50px;
}

.text-fader .text-content.in span.line {
  animation-name: textFaderIn;
  display: block;
}

.text-fader .text-content.out span.line {
  animation-name: textFaderOut;
  display: block;
}
