@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  color: #43406d;
  background-color: #0d1224;
  color: #d3d8e8;
  padding: 0 8px;
  background-color: #f7f7f8;
  border: 1rem solid rgb(37 99 235);
  color: #3b4b5f;
  background-image: url("/images/bg-grid-lighter.svg");
  background-position: center -10px;
  background-repeat: no-repeat;
}

h1 {
  margin-bottom: 1.25rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: rgb(255 255 255 / 1);
}

.swiper_container_testimonials > .swiper-wrapper {
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.swiper_container_testimonials {
  padding: 20px !important;
  position: relative;
}

.swiper-slide-next,
.swiper-slide-prev {
  opacity: 0.6 !important;
  position: relative !important;
}

.swiper-slide-next::after,
.swiper-slide-prev::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: #0000002a;
  backdrop-filter: blur(1px);
}
